.buttonModified {
    background-color: black;
    margin: 4px;
    color: white;
    padding: 8px;
    border-radius: 8px;
    text-transform: uppercase;
    padding-left: 32;
    padding-right: 32
}